@font-face {
	font-family: 'Pokemon Hollow';
	font-weight: 400;
	src: url('../fonts/Pokemon Hollow.ttf');
}

body {
	font-size: 16px;
}

h1 {
	font-size: 2em;
	font-family: 'Kavivanar', cursive;
}

h2 {
	font-size: 1.6em;
	font-family: 'Kaushan Script', cursive;
}

h3 {
	font-size: 1.3em;
	font-family: 'Pokemon Hollow';
}