.square {
	margin: 0 auto;
	width: 300px;
	height: 300px;
	background: #B348E5;
	transition: .3s all;
}

@media and (max-width: 1600px) {
	.square {
		background: #8FF841;
	}
}

@media (max-width: 1400px) and (min-width: 1300px) {
	.square {
		position: fixed;
		bottom: 0;
	}
}

@media (max-width: 1000px) {
	.square {
		width: 100%;
		border-radius: 50%;
	}
}

@media (min-width: 600px) {
	.square {
		border: 4px solid #000;
	}
}
