h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.content {
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center; 
}

.image-holder {
	width: 200px;
	margin: 10px;
}

.image-holder img {
	width: 100%;
}