.content {
	display: flex;
	/*flex-direction: row;
	flex-wrap: wrap;*/
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
	width: 960px;
	margin: 0 auto;
	border: 1px solid #000;
}

.content div:nth-child(2) {
	height: 240px;
	line-height: 120px;
}

/*.content div:nth-child(2),
.content div:nth-child(4),
.content div:nth-child(6) {
	order: 2;
} */

.content div, .flex-grow div {
	width: 100px;
	height: 100px;
	background: #43a2a4;
	margin: 10px;
	color: #fff;
	line-height: 100px;
	text-align: center;
}

.flex-grow {
	display: flex;
	width: 960px;
	margin: 0 auto;
	border: 1px solid #000;
}

.flex-grow div {
	flex-grow: 1;
}

.flex-grow div:nth-child(2) {
	flex-grow: 2;
}