body {
	background-color: #474747;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #68a097;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #68a097;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #68a097;
}

/* Header */
#header a {
	color: #fff;
}

.navbar {
	padding-top: 0;
}

.navbar-brand {
	font-family: 'Damion', cursive;
	font-size: 46px;
}

.nav-item {
	padding: 35px 20px 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	border-radius: 0 0 10px 10px;
	transition: .2s ease all;
}

.nav-item.active, .nav-item:hover {
	background-color: #74c7d5;
}

/* Main Slider */
#main-slider {
	height: 100vh;
	background-image: url('../images/book.jpg');
}

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.vertical-center {
	position: relative;
	top: 40%;
}

.main-heading {
	background-color: rgba(255, 255, 255, .3);
}

.main-heading h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: #74c7d5;
	margin-bottom: 0;
	line-height: 1;
}
.main-heading h1.title-black {
	font-weight: 900;
	font-size: 129px;
}

/* Services */
#services {
	height: 100vh;
	background-image: url('../images/red.png');
	background-color: #b24a50;
	padding-top: 168px;
}

#services h1, #services h2, #about h1, #contact-us h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: #fff;
}

#services h2 {
	font-weight: 400;
	font-size: 20px;
}

#services .services-description,
#about .about-description,
#contact-us .contact-us-description {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #ffcccf;
}

.text-red {
	color: #ec9da2;
}

.service-types {
	margin-top: 200px;
}

.service-type {
	padding: 20px;
	background-color: rgba(200, 83, 90, .2);
}

.service-type h3 {
	margin-top: 40px;
	margin-bottom: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #fff;
}

.service-type p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}

.service-type .countur {
	text-align: center;
	margin: 0 auto;
	width: 140px;
	height: 140px;
	border: 5px solid #fff;
	padding: 4px;
	border-radius: 50%;
}
.service-type .image-holder {
	text-align: center;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	line-height: 120px;
	background-color: #fff;
	border-radius: 50%;
}

/* About */
#about {
	height: 100vh;
	background-image: url('../images/about_bg.png');
	background-color: #665464;
	padding-top: 168px;
}

.about-label {
	position: relative;
	width: 300px;
	margin: 58px auto;
	background-color: #a1ca6c;
	padding: 15px;
	border-radius: 6px;
}

.about-label h2 {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 25px;
	color: #fff;
	margin-bottom: 0;
	z-index: 2;
}

.about-label .about-square {
	position: absolute;
	transform: rotate(45deg);
	left: 130px;
	bottom: -9px;
	width: 40px;
	height: 40px;
	background-color: #a1ca6c;
	z-index: 1;
}

.team-member {
	padding: 20px;
	background-color: rgba(0, 0, 0, .2);
}

.team-member h3 {
	margin-top: 40px;
	margin-bottom: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 25px;
	color: #c7b6c5;
}

.team-member .position {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #a1ca6c;
}

.team-member .countur {
	text-align: center;
	margin: 0 auto;
	width: 140px;
	height: 140px;
	background-color: #fff;
	border: 5px solid #a1859d;
	padding: 4px;
	border-radius: 50%;
}
.team-member .countur img {
	width: 100%;
	border-radius: inherit;
}

.team-member .socials ul {
	list-style: none;
	padding-left: 0;
}

.team-member .socials a div {
	background-color: #a1859e;
	border-radius: 50%;
	text-align: center;
}
.team-member .socials a div img {
	position: relative;
	top: -2px;
}

.team-member:hover {
	background-color: rgba(0, 0, 0, .4);
}

.team-member:hover .countur {
	border: 5px solid #df5b63;
}
.team-member:hover .position {
	color: #ff8973;
}
.team-member:hover .fb-holder {
	background-color: #4f689e;
}
.team-member:hover .twitter-holder {
	background-color: #74c7d5;
}
.team-member:hover .google-holder {
	background-color: #df5c64;
}
.team-member:hover .linkedin-holder {
	background-color: #3e61af;
}

/* Contact Us */
#contact-us {
	height: 100vh;
	background-image: url('../images/green.png');
	background-color: #75b3a9;
	padding-top: 168px;
}
#contact-us .contact-us-description {
	color: #fff;
}

.address-contacts {
	margin-top: 160px;
}

.address-title, .ask-question {
	font-size: 30px;
	line-height: 30px;
	color: rgb(255,255,255);
	font-family: "Lato";
	font-weight: 300;
}

.sub-address {
	font-size: 20px;
	line-height: 17px;
	color: rgb(192,223,218);
	font-family: "Lato";
	font-weight: bold;
	margin-top: 30px;
}

.contact-form .form-control {
	background-color: #68a097;
	border: none;
	color: #fff;
}
.contact-form .form-control:focus,
.contact-form .form-control:active {
	background-color: #fff;
	color: #000;
}

.contact-form button[type="submit"] {
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 900;
	padding: 8px 80px;
	border-bottom: 4px solid #b52222;
	background-color: #df5c64;
}