body {
	background-color: #474747;
}

/* Header */
#header a {
	color: #fff;
}

.navbar {
	padding-top: 0;
}

.navbar-brand {
	font-family: 'Damion', cursive;
	font-size: 46px;
}

.nav-item {
	padding: 35px 20px 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	border-radius: 0 0 10px 10px;
	transition: .2s ease all;
}

.nav-item.active, .nav-item:hover {
	background-color: #74c7d5;
}

/* Main Slider */
#main-slider {
	height: 100vh;
	background-image: url('../images/book.jpg');
}

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.vertical-center {
	position: relative;
	top: 40%;
}

.main-heading {
	background-color: rgba(255, 255, 255, .3);
}

.main-heading h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: #74c7d5;
	margin-bottom: 0;
	line-height: 1;
}
.main-heading h1.title-black {
	font-weight: 900;
	font-size: 129px;
}

/* Services */
#services {
	height: 100vh;
	background-image: url('../images/red.png');
	background-color: #b24a50;
	padding-top: 168px;
}

#services h1, #services h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: #fff;
}

#services h2 {
	font-weight: 400;
	font-size: 20px;
}

#services .services-description {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #ffcccf;
}

.text-red {
	color: #ec9da2;
}

.service-types {
	margin-top: 200px;
}

.service-type {
	padding: 20px;
	background-color: rgba(200, 83, 90, .2);
}

.service-type h3 {
	margin-top: 40px;
	margin-bottom: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #fff;
}

.service-type p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}

.service-type .countur {
	text-align: center;
	margin: 0 auto;
	width: 140px;
	height: 140px;
	border: 5px solid #fff;
	padding: 4px;
	border-radius: 50%;
}
.service-type .image-holder {
	text-align: center;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	line-height: 120px;
	background-color: #fff;
	border-radius: 50%;
}