div {
	width: 150px;
	height: 150px;
	margin: 20px auto;
	padding: 30px;
	text-align: center;
	font-size: 28px;
	border: 1px solid #ff0000;
	transition: 1s ease all;
}

#first {
	background: #4f3205;
	color: #ccc;
}

#second {
	background: #00ff34;
	color: blue;
	border-radius: 14px;
}

#third {
	background: yellow;
	color: rgb(45, 200, 45);
	border-radius: 50%;
}

#second:hover, #third:hover {
	margin-top: -30px;
	background: white;
}