body {
	background-color: yellow;
}

h1 {
	text-align: center;
	border: 1px solid #000;
	color: rgb(0, 0, 255);
}

p {
	text-align: center;
	font-size: 22px;
	background-color: rgba(34, 189, 166, .2);
}

.text-center {
	text-align: center;
}

.margin-top-60 {
	margin-top: 60px;
}

img {
	border: 8px dashed red;
	width: 300px;
}