* {
	box-sizing: border-box;
}
/*header {
	position: fixed;
	top: 0;
}*/

.content {
	width: 960px;
	margin: 0 auto;
	border: 1px solid #000;
}
.content:after {
	content: "";
	clear: both;
	display: block;
}

.logo {
	float: left;
}

#main-nav {
	float: right;
}

#main-nav ul li {
	float: left;
	padding: 20px;
}

.heading-element {
	margin-top: 24px;
}

#main {
	margin-top: 24px;
}

#main-section {
	border: 1px solid red;
	float: left;
	width: 650px;
}
.main-heading {
	border: 1px solid purple;
	width: 400px;
	height: 400px;
	margin: 50px auto;
}
.sections {
	border: 1px solid yellow;
	margin: 40px;
	display: flex;
}
.sections article {
	flex-grow: 1;
	margin: 20px;
	height: 40px;
	border: 1px solid green;
}
.main-section-bottom {
	border: 1px solid blue;
	width: 90%;
	height: 70px;
	margin: 10px auto;
}

#main-sidebar {
	border: 1px solid blue;
	float: right;
	width: 300px;
}
.widget {
	border: 1px solid #ccc;
	width: 250px;
	height: 250px;
	margin-left: 50px;
}

.widget + .widget {
	margin-top: 40px;
}

footer {
	margin-top: 24px;
	border: 1px solid #000;
}