h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 36px;
}

p {
	font-family: 'Lobster', cursive;
}

@media (max-width: 1200px) {
	h1 {
		font-size: 26px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-family: 'IM Fell French Canon SC', serif;
	}
}