body, ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

#main-nav {
	background-color: #111;
	text-align: center;
}

#main-nav ul {
	display: inline-block;
}

#main-nav ul:after {
	content: "";
	display: block;
	clear: both;
}

#main-nav ul li {
	float: left;
	border-left: 1px solid #ccc;
}
#main-nav ul li:hover {
	background-color: #008000;
}
#main-nav ul li:first-child {
	border-left: none;
}

#main-nav ul li:hover a {
	text-decoration: underline;
}

#main-nav ul li.active {
	background-color: #008000;
}

#main-nav ul li.active a {
	text-decoration: underline;
}

#main-nav ul li a {
	display: block;
	padding: 18px;
	color: #eee;
	text-decoration: none;
}

#search {
	float: right;
	margin-top: 8px;
	margin-right: 20px;
}

#search input {
	width: 300px;
	padding: 10px;
	background-color: transparent;
	color: #eee;
	border: none;
	border-bottom: 1px solid #eee;
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	background-position: right;
}
#search input:focus {
	outline: none;
	border-bottom: 1px solid #008000;	
}

.square {
	width: 400px;
	height: 400px;
	background-color: rgba(100, 100, 44, 0.5);
	position: fixed;
	top: 20px;
	left: 40px;
}
.small-square {
	width: 100px;
	height: 100px;
	background-color: rgb(12, 200, 180);
	position: absolute;
	bottom: 0;
	right: 0;
}