body {
	background: #DBDBDB;
}

.logo-large {
	display: block;
}
.visible-xs, .logo-small {
	display: none;
}

.content {
	width: 80%;
	margin: 0 auto;
}

#header {
	background: #676767;
}
#header:after {
	content: "";
	clear: both;
	display: block;
}

#logo {
	float: left;
	width: 200px;
}
#logo img {
	width: 100%;
}

#main-nav {
	float: right;
	margin-top: 30px;
}
#main-nav:after {
	content: "";
	clear: both;
	display: block;
}

#main-nav ul li {
	float: left;
	padding: 4px 10px;
}
#main-nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	border-left: 1px solid #fff;
	padding-left: 10px;
}
#main-nav ul li:first-child a {
	border-left: none;
}

@media (max-width: 1200px) {
	.logo-large {
		display: none;
	}
	.logo-small {
		display: block;
	}

	#logo {
		max-height: 100px;
	}
}

@media (max-width: 768px) {
	.logo-large {
		display: block;
	}
	.logo-small {
		display: none;
	}
	.visible-xs {
		display: block;
	}

	.content {
		width: 80%;
	}

	#logo {
		width: 100%;
		max-height: 100%;
		float: none;
	}

	#main-nav {
		float: none;
	}
	#main-nav ul li {
		float: none;
		width: 100%;
		text-align: center;
	}
	#main-nav ul li a {
		border: none;
	}
}