body, ul {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
	display: block;
}

.content {
	width: 960px;
	margin: 0 auto;
	border: 1px solid #4CAF50;
}

h1 {
	margin: 0;
	background-color: #4CAF50;
	color: #fff;
	padding: 4px 10px;
}

.steps {
	list-style: none;
}
.steps:after {
	content: "";
	clear: left;
	display: block;
}
.steps li {
	/*display: inline-block;*/
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 20%;
	border-left: 1px solid #ccc;
}
.steps li:first-child {
	border-left: none;
}

.circle {
	margin: 30px auto;
	width: 100px;
	height: 100px;
	background: #4CAF50;
	border-radius: 50%;
	transition: 1s ease all;
}
.circle:hover {
	/*box-shadow: 15px -11px 24px 6px #ccc;*/
	box-shadow: 0 0 10px 10px #ccc;
}
.circle a {
	display: block;
	text-decoration: none;
}
.circle span {
	color: #fff;
	line-height: 100px;
	font-size: 30px;
}

.steps-text {
	font-family: cursive;
	font-size: 20px;
	margin-bottom: 20px;
}