body {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #8c979e;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: #0e1015;
}

section {
	padding: 96px 0;
}
section.section-sm {
	padding: 34px 0;
}

.bg-gray {
	background-color: #f5f5f5;
}

.bg-black {
	background: #0e1015;
}
.bg-black h2, .bg-black p {
	color: #fff;
}

.col-content {
	padding: 66px;
}

.btn {
	border-radius: 0;
	font-weight: bold;
	letter-spacing: 1px;
}
.btn-lg {
	padding-top: 13px;
	padding-bottom: 13px;
	min-width: 200px;
	font-size: 12px;
	text-transform: uppercase;	
}
.btn-primary {
	background: #745cf9;
	border: 2px solid #745cf9;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
	background: #5d47d7;
    border-color: #5d47d7;
}

/* Fullscreen paralax image */
.fullscreen {
	height: 100vh;
}

.main-paralax-section {
	background-image: url('../images/photo-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.main-paralax-section h1,
.main-paralax-section p {
	color: #fff;	
}

.main-paralax-section h1 {
	font-size: 60px;
}

.vertical-center {
	position: relative;
	top: 40%;
}

/* Portfolio */
.portfolio .img-fluid {
	height: 376px;
	transition: .3s ease all;
	cursor: pointer;
}
.portfolio .img-fluid:hover {
	opacity: .6;
}
.portfolio a h4 {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 26px;
	display: none;
}
.portfolio a:hover h4 {
	display: block;
	top: 50%;
}