.gallery:after {
	content: "";
	clear: both;
	display: block;
}

.item {
	float: left;
	position: relative;
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
.item img {
	width: 100%;
	height: 600px;
	opacity: 0.6;
	transition: .3s ease all;
}
.item:hover img {
	opacity: 1;
}
.item:hover .view {
	display: block;
}

.view {
	display: none;
    position: absolute;
    top: 45%;
    left: 42%;
    font-size: 33px;
    color: #fff;
}

.description {
	padding: 15px;
    text-align: center;
}