#nav:after {
	content: "";
	clear: both;
	display: block;
}
#nav li {
	float: left;
	background-image: url('../images/sprite.gif');
	background-repeat: no-repeat;
}

#home {
	width: 46px;
	height: 43px;
	background-position: 0 0;
}
#home:hover {
	background-position: 0 -45px;
}

#prev {
	width: 43px;
	height: 43px;
	left: 60px;
	background-position: -47px 0;
}
#prev:hover {
	background-position: -47px -45px;
}

#next {
	width: 43px;
	height: 43px;
	left: 60px;
	background-position: -91px 0;
}
#next:hover {
	background-position: -91px -45px;
}

h1 {
	color: #FC5B5B;
	font-size: 42px;
}

h1[id=heading] {
	color: #fff;
}

h1#heading {
	color: #38F672;
}

#heading {
	color: #323232;
}

h1 {
	color: #D866FE;
}

.square {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	overflow: auto;
}
.square p::first-line {
	color: #FC1F1F;
	word-spacing: 12px;
	letter-spacing: 12px;
}
.square p::first-letter {
	text-transform: uppercase;
	font-family: 'Tangerine', cursive;
	font-size: 50px;
	font-weight: bold;
}

.text p:first-of-type {
	background: red;
}